@tailwind base;
@tailwind components;
@tailwind utilities;


.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1250px;
}


@layer utilities {
  .nav-height {
    @apply h-[calc(100vh-150px)];
  }
}